<html>
<body>
<center>
<h1>Welcome</h1><br></center>
<center><h2>Admin</h2></center>
<center><button type="button"><br>
<p><a href="/Admin/LoadMoney">Load Money</a></p>
</button></center><br>
<center><button type="button">
<p><a href="/Admin/ViewMoney">View Money Left</a></p>
</button></center><br>
<center>
<button type="button">
<p><a href="/Admin/Details">Customer Details</a></p>
</button>
</center><br>
<center>
<button type="button">
<p><a href="/">Main Menu</a></p>
</button>
</center>
</body>
</html>
