<html>
<body>
<center><h1>Welcome</h1></center><br>
<center><h2>Load Money</h2></center><br>
<center>
<form action="/Load">
<center>Select Denominations :
<select name="den">
<option value="2000">2000</option>
<option value="500">500</option>
<option value="100">100</option>
</select></center>
<br>
<center>Select Quantity to Load :
<select name="qty">
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
</select></center>
<br>
<input type="submit" value="Load Money"><br>
</form></center>
</body>
</html>
