<html>
<body>
<center>
<h1>Welcome</h1><br></center>
<center><h2>User</h2></center>
<center><button type="button"><br>
<p><a href="/User/CheckBalance">Check Balance</a></p>
</button></center><br>
<center><button type="button">
<p><a href="/User/WithdrawMoney">Withdraw Money</a></p>
</button></center><br>
<center>
<button type="button">
<p><a href="/User/TransferMoney">Transfer Money</a></p>
</button>
</center><br>
<center>
<button type="button">
<p><a href="/User/MiniStatement">Mini Statement</a></p>
</button>
</center><br>
<center>
<button type="button">
<p><a href="/">Main Menu</a></p>
</button>
</center>
</body>
</html>
